<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0"/>
        <link rel="stylesheet" href="/resources/css/estilos.css"/>
        <link href="https://file.myfontastic.com/gVhWFfTbY55yVaY7oxJaF3/icons.css" rel="stylesheet"/>
        <title>Bienvenido</title>
    </head>
    <body>
    {{if .Nombre}}
        <h1>Bienvenido {{.Nombre}} </h1>
    {{end}}
    </body>
</html>
