<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimun-scale=1.0"/>
    <link rel="stylesheet" href="/resources/css/estilos.css"/>
    <link href="https://file.myfontastic.com/gVhWFfTbY55yVaY7oxJaF3/icons.css" rel="stylesheet"/>
    <title>Lista de compras</title>
  </head>
  <body class="Listado de compras">
    <div class="main-container">
      <aside class="main-aside"><a href="/"><img src="/resources/img/logo.png" class="logo"/></a>
        <ul class="menu ed-menu">
          <li class="menu__item"><a href="/compras" class="menu__link icon-compras">Compras</a></li>
          <li class="menu__item"><a href="/ventas" class="menu__link icon-ventas">Ventas</a></li>
          <li class="menu__item"><a href="/lista-compras" class="menu__link icon-lista-compras">Lista de compras</a></li>
          <li class="menu__item"><a href="/lista-ventas" class="menu__link icon-lista-ventas">Lista de ventas</a></li>
          <li class="menu__item"><a href="/lista-productos" class="menu__link icon-lista-productos">Lista de productos</a></li>
          <li class="menu__item"><a href="/logout" class="menu__link icon-cerrar">Salir</a></li>
        </ul>
      </aside>
      <main class="main-content">
        <h1> Listado de productos</h1>
        <table class="listado">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Cantidad</th>
              <th>Precio</th>
            </tr>
          </thead>
          <tbody>
          {{range .}}
              <tr>
              <td>{{.ID}}</td>
              <td>{{.Nombre}}</td>
              <td>{{.Cantidad}}</td>
              <td>{{.Precio}}</td>
              </tr>
          {{end}}
          </tbody>
        </table>
      </main>
    </div>
  </body>
</html>