<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimun-scale=1.0"/>
    <link rel="stylesheet" href="/resources/css/estilos.css"/>
    <link href="https://file.myfontastic.com/gVhWFfTbY55yVaY7oxJaF3/icons.css" rel="stylesheet"/>
    <title>Lista de compras</title>
  </head>
  <body class="Listado de compras">
    <div class="main-container">
      <aside class="main-aside"><a href="/"><img src="/resources/img/logo.png" class="logo"/></a>
        <ul class="menu ed-menu">
          <li class="menu__item"><a href="/compras" class="menu__link icon-compras">Compras</a></li>
          <li class="menu__item"><a href="/ventas" class="menu__link icon-ventas">Ventas</a></li>
          <li class="menu__item"><a href="/lista-compras" class="menu__link icon-lista-compras">Lista de compras</a></li>
          <li class="menu__item"><a href="/lista-ventas" class="menu__link icon-lista-ventas">Lista de ventas</a></li>
          <li class="menu__item"><a href="/lista-productos" class="menu__link icon-lista-productos">Lista de productos</a></li>
            <li class="menu__item"><a href="/logout" class="menu__link icon-cerrar">Salir</a></li>
        </ul>
      </aside>
      <main class="main-content">
        <h1> Listado de ventas</h1>
        <table class="listado">
          <thead>
            <tr>
              <th>ID</th>
              <th>Fecha</th>
              <th>Proveedor</th>
              <th>Producto</th>
              <th>Cantidad</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody>
              {{range .Ventas}}
                      <tr>
                      <td>{{.ID}}</td>
                      <td>{{.Fecha}}</td>
                      <td>{{.TerceroNombre}}</td>
                      <td>{{.ProductoNombre}}</td>
                      <td>{{.Cantidad}}</td>
                      <td>{{.Valor}}</td>
                      </tr>
            {{end}}
          </tbody>
          <tfoot>
            <tr>
              <td colspan="4" class="suma-label">Total</td>
              <td class="suma">{{.Cantidad}}</td>
              <td class="suma">{{.Valor}}</td>
            </tr>
          </tfoot>
        </table>
            <form action="/lista-ventas" method="post">
            <div class="ed-container">
                <div class="ed-item web-20">
                    <label for="registros">Registros:</label>
                </div>
                <div class="ed-item web-20">
                    <select id="registros" name="limite">
                        <option value="1">1</option>
                        <option value="3">3</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                    </select>
                </div>
                <div class="ed-item web-20">
                    <label for="pagina">Página:</label>
                </div>
                <div class="ed-item web-20">
                    <input type="number" id="pagina" name="pagina" min="1" value="1"/>
                </div>
                <div class="ed-item web-15">
                    <input type="submit" value="Listar"/>
                </div>
            </div>
            </form>
      </main>
    </div>
  </body>
</html>